<!DOCTYPE html>
<html>
	<head>
		<title>node-multipass</title>
		<link rel="stylesheet" href="css/main.css" />
		<script src="http://o.aolcdn.com/os/aol/jquery-1.8.1.min.js"></script>
		<script src="js/main.js"></script>
	</head>
	<body>
		<% if (!user) { %>
			<p>Please login</p>
		<% } else { %>
			<p>
			<a class="user-logout" data-url="<%= config.paths.api %>/logout" href="/">Log Out</a>
			</p>
			
			<% include user.ejs %>
		<% } %>
		
		<% include login.ejs %>
	</body>
</html>