<% if (!user) { %>
<h2>Login</h2>
<% } else { %>
<h2>Associate another account</h2>
<% } %>
<ul class="providers">
	<% providers.forEach(function(provider){ %>
		<li><a href="<%= provider.loginUrl %>?r=/"><%= provider.provider %></a></li>
	<% }) %>
</ul>