body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	padding: 10px 30px;
}

table {
	width: 960px;
	margin-bottom: 1em;
}

td, th {
	border: 1px solid #CCC;
	padding: 10px;
	text-align: left;
}

.ui-dialog .ui-dialog-content {
	/*line-height: 1.5em;*/
}

.mp-twitter-dialog .mp-dialog {
	text-align: center;
}

.mp-twitter-field {
	width: 90%;
	margin: 0 auto;
}