body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	padding: 10px 30px;
}

table {
	width: 960px;
	margin-bottom: 1em;
}

td, th {
	border: 1px solid #CCC;
	padding: 10px;
	text-align: left;
}

input[type='text']{
  border: 1px solid #CCC;
  padding: 4px 8px;
  font-size: 1em;
}

.mp-button,
input[type='button'],
input[type='submit'] {
  border: 1px solid #CCC;
  background-color: #DDD;
  padding: 5px 10px;
  font-size: 1em;
  border-radius: 5px;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.mp-button:hover,
input[type='button']:hover,
input[type='submit']:hover {
  background-color: #d9208a;
  color: #FFF;
}

.mp-user-container {
	display: none;
}

#mp-userId-input {
  width: 150px;
}

.mp-user-remove {
  display: none;
}

.mp-profiles-list {
  display: none;
}

.ui-dialog .ui-dialog-content {
	/*line-height: 1.5em;*/
}

.mp-form-dialog .mp-dialog {
	text-align: center;
}

.mp-dialog input[type='text'],
.mp-dialog textarea,
.mp-dialog select {
	width: 90%;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
}

.mp-icon {
	background: url('/images/social_icons.png') no-repeat 0px 0px;
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

.mp-icon.mp-aol {
	background-position: 0px -24px;
}
.mp-icon.mp-facebook {
	background-position: 0px -48px;
}
.mp-icon.mp-google {
	background-position: 0px -72px;
}
.mp-icon.mp-linkedin {
	background-position: 0px -96px;
}
.mp-icon.mp-tumblr {
	background-position: 0px -120px;
}
.mp-icon.mp-twitter {
	background-position: 0px -144px;
}
.mp-icon.mp-windowslive {
	background-position: 0px -168px;
}
.mp-icon.mp-yahoo {
	background-position: 0px -192px;
}
.mp-icon.mp-github {
	background-position: 0px -216px;
}
.mp-icon.mp-dropbox {
	background-position: 0px -240px;
}